streamlit
streamlit-chat
langchain
langchain-openai
langchain-community
langchain-experimental
langchainhub
tabulate
openai
faiss-cpu
tiktoken
snowflake-snowpark-python
duckduckgo-search
wikipedia
numexpr
bs4
langserve[all]